<!doctype html>
<html>
  <head>
    <title>Warning</title>
    <link rel="stylesheet" href="/static/warning.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/index">Home</a>
      <a href="/cats">Cats</a>
    </nav>
    <h1>⚠️ Warning ⚠️</h1>
    <p>
      This is a warning page. I'm not going to tell you what I'm warning you
      about, that would be too easy.
    </p>
    <p>Please proceed with caution.</p>
    <p>&lt;a href="./other-page.html"&gt;i warned you&lt;/a&gt;</p>
  </body>
</html>
